мая 29, 2024 2:27:42 AM Server.Manager.Server init
INFO: Log message
мая 29, 2024 2:27:42 AM Server.Manager.Server init
INFO: Сервер начал работу
мая 29, 2024 2:27:42 AM Server.Manager.Server init
INFO: Канал открыт и подключен
мая 29, 2024 2:27:42 AM Server.Manager.Server init
INFO: Канал начал работу в non-blocking режиме
мая 29, 2024 2:31:01 AM Server.Manager.Server init
INFO: Log message
мая 29, 2024 2:31:01 AM Server.Manager.Server init
INFO: Сервер начал работу
мая 29, 2024 2:31:01 AM Server.Manager.Server init
INFO: Канал открыт и подключен
мая 29, 2024 2:31:01 AM Server.Manager.Server init
INFO: Канал начал работу в non-blocking режиме
мая 29, 2024 2:31:29 AM Server.Manager.Server init
INFO: Log message
мая 29, 2024 2:31:29 AM Server.Manager.Server init
INFO: Сервер начал работу
мая 29, 2024 2:31:29 AM Server.Manager.Server init
INFO: Канал открыт и подключен
мая 29, 2024 2:31:29 AM Server.Manager.Server init
INFO: Канал начал работу в non-blocking режиме
